body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#searchResult {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px 5px 5px 5px;
  position: absolute;
}