<!-- Watchlist View -->
<div class="row-fluid">
  <div class="span12">
    <ol class="breadcrumb">
      <li class="active">Watchlists</li>
    </ol>
  </div>
</div>

<div class="row panel-heading">
  <div class="col-xs-12 col-md-8">
    <h2>Watchlists</h2>
  </div>
</div>
<div class="row panel-body">
  <div class="col-xs-12 col-md-8">
    <table class="table table-striped table-hover" id="watchlists">
      <thead>
        <tr>
          <th>#</th><th>Name</th><th>Erstellt am</th><th>Veränderung<br>gesamt</th><th>Veränderung<br>heute</th><th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="wl in watchlists">
          <td>{{wl.id}}</td><td><a href="#/watchlist/{{wl.id}}">{{wl.name}}</a></td>
          <td>{{wl.date_added | date:'shortDate'}}</td>
          <td>
              {{(wl.change_total_percent||0) | number:2}} %<br>
              {{(wl.change_total||0) | number:2}}
          </td>
          <td>
            {{(wl.change_day_total_percent||0) | number:2}} %<br>
            {{(wl.change_day_total||0) | number:2}}
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs delete" ng-mouseup="deleteWatchlist({{wl.id}})">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6 col-md-4">
    <form ng-submit="addWatchlist()" id="addWatchlistForm">
      <fieldset class="form-group">
        <legend>Neue Watchlist</legend>
        <div class="row">
          <div class="col-xs-12 col-md-2">
            <label>Name</label>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="watchlistName" name="watchlistName"
              placeholder="z.B. Meine neue Watchlist">
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <button type="submit" class="btn btn-default">Anlegen</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
